/* * {border:1px solid} */

p{
    margin:0;
    padding: 5px;
}

#afficheMin, #afficheMax {
    display: inline-block;
}

#rangeGuess {
    width: 90%;
}

.disFlex {
    display: flex;
    position: relative;
}

#afficheNombre {
    text-align: center;
}

#bas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: 40px;
}

body {
    margin: 3% 20%;
    justify-content: center;
}

.radioGaga {
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: center;
}

.radioGaga p {
    display: inline-block;
    margin-right: 5%;
}

#fourchette {
    position: absolute;
    left: 0;
    z-index: -1;
    background-size: 80% auto, 70% auto;
    background-image: linear-gradient(rgba(252, 137, 7, 0.5), rgba(238, 238, 238, 0.2));
    width: 90%;
    height: 20px;
    margin-left: 21px;
}